<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tournament Manager</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ asset("/assets/css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ asset("/assets/css/style.css") }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Top content -->
<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>Tournament Manager</strong></h1>
                </div>
            </div>

            <div class="row">
                <div class="form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Bonjour {{ app.user.username }},<br> <a href="logout">deconnexion</a></h3>
                        </div>
                    </div>

                    <div class="form-bottom">
                        <h3>Tournoi {{ tournament.name }}</h3>
                        <h4>Liste des matchs :</h4>

                        <ul>
                            {% for match in tournament.matchs %}
                                <div class="match">
                                    <form action="{{ path('updateMatch') }}" method="post" class="inline">
                                        <input type="hidden" name="tournament" value="{{ tournament.id }}">

                                        <p class="team">{{ match.nameTeam1 }}</p>
                                        <input type="text" name="scoreTeam1" value="{{ match.scoreTeam1 }}" />
                                        -
                                        <input type="text" name="scoreTeam2" value="{{ match.scoreTeam2 }}"/>
                                        <p class="team">{{ match.nameTeam2 }}</p>

                                        <input type="hidden" name="match" value="{{ match.id }}">
                                        <input type="submit" value="Modifier score" />
                                    </form>

                                    <form action="{{ path('deleteMatch') }}" method="post" class="inline">
                                        <input type="hidden" name="match" value="{{ match.id }}">
                                        <input type="hidden" name="tournament" value="{{ tournament.id }}">

                                        <input type="submit" value="Supprimer match" />
                                    </form>
                                </div>
                            {% else %}
                                <li>Aucun match</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="form-bottom">
                    <h4>Ajouter un match :</h4>
                    <form action="{{ path('addMatch') }}" method="post">
                        <input type="hidden" name="tournament" value="{{ tournament.id }}">

                        <label for="nameTeam1">Nom équipe 1 : </label> <input type="text" id="nameTeam1" name="nameTeam1" /><br />
                        <label for="nameTeam2">Nom équipe 2 : </label> <input type="text" id="nameTeam2" name="nameTeam2" /><br />
                        <input type="submit" value="Ajouter" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="footer-border"></div>
                <p>Template made by Anli Zaimi at <a href="http://azmind.com"
                                                     target="_blank"><strong>AZMIND</strong></a></p>
                <p>Développé par Mickaël Matuchak dans le cadre du module IFI - Symfony encadré par Kevin Dunglas</p>
                <p>Université Lille 1 - 2018©</p>
            </div>
        </div>
    </div>

    <!-- Javascript -->
    <script src="{{ asset("/assets/js/jquery-1.11.1.min.js") }}"></script>
    <script src="{{ asset("/assets/js/bootstrap.min.js") }}"></script>
    <script src="{{ asset("/assets/js/jquery.backstretch.min.js") }}"></script>
    <script src="{{ asset("/assets/js/scripts.js") }}"></script>
</body>

</html>

